<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
        <link rel="stylesheet" href="../styles/about-styles.css">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
               <ul>
                   <li class="name"><span>Bliss</span><br>Developer</li> 
                    <li><a href="../home.html">Home</a></li>
                    <li>About</li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="resume.html">Resume</a></li>
               </ul>
            </nav>
        </header>
        <main>
            <div class="container">
                <section class="projects">
                    <h2>About My Projects</h2>
                    <!-- Here my projects-->
                </section>
                <section class="about-me">
                    <h2>About Me</h2>
                    <p>
                    Tengo hambre voraz por aprender y creo que
                    el hombre no existe en solitario. <br><br>

                    Me preocupan las personas y me gusta pensar
                    en ellas, más me interesa que un producto
                    les alivie una necesidad, y que sean el 
                    punto central del desarrollo. 
                    </p>
                </section>
                <section class="tech-stack">
                    <h2>About My Tech Stack</h2>
                    <div class="logos">
                        <img 
                        src="../images/HTML5_Badge.svg" 
                        title="HTML Logo"
                        alt="HTML logo, a shield-like shape with an orange top half and white bottom half"
                        height="100px" 
                        width="100px" 
                        >
                        <img 
                        src="../images/CSS3_logo.svg.png" 
                        title="CSS Logo"
                        alt="CSS logo, a shield-like shape with a blue top half and white bottom half"
                        height="100px" 
                        width="100px" 
                        >
                        <img 
                        src="../images/JavaScript-logo.png" 
                        title="JavaScript Logo"
                        alt="JavaScript logo, a yellow square with the letters 'JS' in black"
                        height="100px" 
                        width="100px" 
                        >
                        <img 
                        src="../images/Angular_full_color_logo.svg" 
                        title="Angular Logo"
                        alt="Angular logo, a red shield with a white letter 'A' in the center"
                        height="100px" 
                        width="100px" 
                        >
                        <img 
                        src="../images/nodejsStackedLight.svg" 
                        title="Node.js Logo"
                        alt="Node.js logo, featuring the text 'nodejs' in lowercase letters
                        and a green hexagon with the letters 'js' inside"
                        height="100px" 
                        width="100px" 
                        >
                        <img 
                        src="../images/icons8-express-js-100 (1).png" 
                        title="Express.js Logo"
                        alt="Express logo, simple black text on a white background"
                        class="express" 
                        height="100px" 
                        width="100px" 
                        >
                        <img 
                        src="../images/MongoDB_Logomark_ForestGreen.svg" 
                        title="MongoDB Logo"
                        class="mongodb" 
                        alt="MongoDB logo, featuring a green leaf"
                        height="100px" 
                        width="100px" 
                        >
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>
