<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
        <link rel="stylesheet" href="../styles/contact-styles.css">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li class="name"><span>Bliss</span><br>Developer</li> 
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a>Contact</a></li>
                    <li><a href="resume.html">Resume</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form>
               <label for="name">Name: </label> 
               <input type="text" id="name" required>
               <label for="message">Message: </label> 
               <textarea name="message" id="message" cols="30" rows="10" required></textarea>
               <button type="submit">Send</button>
            </form>
            <div class="logos">
                <span>Contact Me</span>
                <a href="home.html">
                    <img src="../images/github-mark.svg" width="50px" />
                </a>
            </div>
        </main>
    </body>
</html>
