.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: space-around;
    height: 100vh;
}
.logos {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    flex-flow: row wrap;
}
