/* Header Styles */
ul {
    height: 300px;
    margin-top: 50px;
    /* border: 1px solid black; */
    width: 100px;
    position: relative;
    justify-content: space-between;
    display: inline-flex;
    flex-direction: column;
    list-style: none;
}
nav {
    /* border: 1px solid black; */
    width: 150px;
    position: relative;
    margin-top: 100px;
}

.name {
    position: relative;
    top: -30px;
}

li > span {
    font-size: 4rem;
    margin-left: -4px;
}

/* General Styles */
body {
    color: white;
    margin: 21px;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Open-Sans", sans-serif;
}
a {
    color: white;
}

label, 
button {
    display: block;
}

form, 
.logos {
    width: 350px;
}

main {
    width: 350px;
    margin-top: -381px;
    margin-left: 400px;
}

input[id="name"] {
   margin-bottom: 15px; 
}

form > label {
    padding-bottom: 5px;
}

textarea {
    resize: none;
}
