/* Header styles */
header {
    width: 150px;
    /* margin-top: 20px; */
    /* padding-top: 40px; */
}

ul {
    height: 300px;
    width: 150px;
    margin-top: 130px;
    justify-content: space-between;
    display: inline-flex;
    flex-direction: column;
    list-style: none;
}


.name {
    position: relative;
    top: -30px;
    font-size: 1rem;
}

li > span {
    font-size: 4rem;
    margin-left: -4px;
}

/* General Styles */
body {
    margin: 21px;
    font-family: "Open-Sans", sans-serif;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    overflow: hidden;
}

a {
    color: white;
}

p {
    display: inline-block;
    /* border: 1px solid black; */
    padding: 10px;
    font-size: 1.4rem;
}

main {
    display: inline-block;
    position: relative;
    top: -360px;
    left: 500px;
    width: 400px;
}
.italicize {
    font-style: italic;
}
